.Card{
    background-color:bisque;
    border-radius:10px;
    padding:20px;
    min-height:15%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:5px;
    &:hover{
        transform:translateX(5px);
        transform:translateY(5px);
        cursor:pointer;
        filter:brightness(110%);
    }
}