.Card{
    background-color:bisque;
    border-radius:10px;
    padding:20px;
    min-height:15%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:5px;
    &:hover{
        transform:translateX(5px) translateY(5px) rotate(1deg);
        cursor:pointer;
        filter:brightness(110%);
    }
}